/* font-family: 'Coiny', cursive;
font-family: 'Sono', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #292524;
  color: #fafaf9;
  font-family: 'Sono', sans-serif;
  padding: 48px 64px;
}

/* Container Section */
.container {
  max-width: 1500px;
  margin: 0 auto;
}

/* Header Section */
.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.logo img {
  width: 68px;
  height: 68px;
}

h1 {
  font-family: 'Coiny', sans-serif;
  font-size: 42px;
  text-transform: uppercase;
  line-height: 1;
  margin-top: 6px;
}

/* Form Section */

.fact-form {
  background-color: #44403c;
  margin-bottom: 40px;
  padding: 16px 40px;
  text-align: center;
}

ul {
  list-style: none;
}

/* Main Layout */

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #44403c;
  margin-bottom: 16px;
  padding: 16px 24px;
  letter-spacing: -1px;

  display: flex;
  align-items: center;

  gap: 24px;
}

.vote-btn {
  margin-left: auto;
}

.tag {
  font-family: 'Coiny', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
}
